/* VERIABEL */

$init: px;
$trans: vw;

$xxl: 1439.98;
$xl: 1339.98;
$lg: 1199.98;
$md: 991.98;
$sm: 767.98;
$xs: 575.98;
$ss: 319.98;

$min_xl: 1440;
$min_lg: 1200;
$min_md: 992;
$min_sm: 768;
$min_xs: 576;
$min_ss: 320;

/* MEDIA */

@mixin max-to($media) {
	@if $media == xxl {
	  @media only screen and (max-width: $xxl + $init) { @content; }
	}
	@if $media == xl {
		@media only screen and (max-width: $xl + $init) { @content; }
	}
	@else if $media == lg {
		@media only screen and (max-width: $lg + $init) { @content; }
	}
	@else if $media == md {
		@media only screen and (max-width: $md + $init) { @content; }
	}
	@else if $media == sm {
		@media only screen and (max-width: $sm + $init) { @content; }
	}
	@else if $media == xs {
		@media only screen and (max-width: $xs + $init) { @content; }
	}
	@else if $media == ss {
		@media only screen and (max-width: $ss + $init) { @content; }
	}
}

@mixin min-from($media) {
	@if $media == min_xl {
		@media only screen and (min-width: $min_xl + $init) { @content; }
	}
	@else if $media == min_lg {
		@media only screen and (min-width: $min_lg + $init) { @content; }
	}
	@else if $media == min_md {
		@media only screen and (min-width: $min_md + $init) { @content; }
	}
	@else if $media == min_sm {
		@media only screen and (min-width: $min_sm + $init) { @content; }
	}
	@else if $media == min_xs {
		@media only screen and (min-width: $min_xs + $init) { @content; }
	}
	@else if $media == min_ss {
		@media only screen and (min-width: $min_ss + $init) { @content; }
	}
}

@include max-to(xxl) {}

@include max-to(xl) {}

@include max-to(lg) {}

@include max-to(md) {}

@include max-to(sm) {}

@include max-to(xs) {}

@include max-to(ss) {}

@include min-from(min_xl) {}

@include min-from(min_lg) {}

@include min-from(min_md) {}

@include min-from(min_sm) {}

@include min-from(min_xs) {}

@include min-from(min_ss) {}


/* FONTS */

@mixin fontface($name, $file, $weight, $style){
	@font-face {
		font-family: "#{$name}";
		font-weight: $weight;
		font-style: $style;

		src: url('../fonts/#{$file}.ttf') format('truetype'),
	}
}

/* VIEW Ports */

@function view($pxsize, $media) {

	@if $media == xl {
		$media: $xl;
	}
	@else if $media == lg {
		$media: $lg;
	}
	@else if $media == md {
		$media: $md;
	}
	@else if $media == sm {
		$media: $sm;
	}
	@else if $media == xs {
		$media: $xs;
	}
	@else if $media == ss {
		$media: $ss;
	}

	@return $pxsize/($media/100)+$trans;
}

// use ViewPort


.block_view{
	margin: auto;
	background: #ADD8E6;
	border: 2px solid #2265a2;

	@include max-to(xl) {
		background: red;
		width: view(650,xl);
		height: view(650,xl);
		font-size: view(28,xl);
	}

	@include max-to(md) {
		background: red;
		width: view(450,md);
		height: view(450,md);
		font-size: view(28,md);
		border: view(10,md) solid #000;
	}

	@include max-to(xs) {
		background: red;
		width: view(250,xs);
		height: view(250,xs);
		font-size: view(18,xs);
	}
}
